/**
  
  Ninja Plugin
  Copyright (C) 2019, DashGL Project
  By Kion (kion@dashgl.com)

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  
**/

html {

	padding: 0;
	margin: 0;
	height: 100%;

}

body {
	
	padding: 0;
	margin: 0;
	height: 100%;
	background-color: #eee;
	
	--header-height: 40px;
	--nav-width: 390px;
	--icon-width: 140px;
	--anim-height: 40px;

}

a {
	color: #215ca0;
}

a:hover {
	cursor: pointer;
	text-decoration: underline;
}

header {
	
	--padding: 3px;
	height: calc(var(--header-height) - var(--padding) - var(--padding));
	padding: var(--padding) 0;
	margin-bottom: var(--padding);
	border-bottom: var(--padding) solid rgba(255,255,255,0.1);
	width: 100%;
	background-color: #1A237E;
	z-index: 10;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;

}

header table {

	width: 100%;
	height: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	color: #fff;

}

header table td.icon {

	width: 40px;

}

header table td.icon img {

	padding-top: 1px;
	height: 24px;
	display: block;
	margin: auto;

}

header table td.title {

	width: 180px;
	
}

header table td.label {

	font-size: 14px;
	opacity: 0.5;

}

header table td.button {

	padding-right: 10px;
	color: #fff;
	width: 160px;
	text-indent: 10px;

}

header table td.button li {

	list-style: none;

}

header table td.button li:hover {

	cursor: pointer;
	color: #81D4FA;

}

header h1 {

	margin: 0;
	padding: 0;
	font-size: 22px;
	font-weight: 300;
	letter-spacing: 2px;
	color: #fff;
	font-family: 'Muli', sans-serif;

}

main {

	height: calc(100% - var(--header-height));
	width: 100%;
	position: fixed;
	left: 0;
	top: var(--header-height);

}

section {

	width: calc(100% - var(--nav-width));
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	overflow: hidden;

}

section article {

	width: 100%;
	height: calc(100% - var(--anim-height));
	background-color: #aaa;
	position: relative;

}

section div.animation-controls {

	height: calc(var(--anim-height) - 1px);
	border-top: 1px solid #e5e5e5;
	background-color: #bbb;

}

section div.animation-controls table {

	width: 100%;
	height: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	font-size: 14px;

}

section div.animation-controls table td.lbl {

	width: 94px;
	text-indent: 4px;

}

section div.animation-controls table td.lbl0 {

	width: 130px;

}

section div.animation-controls table td.thin {

	text-align: center;
	width: 30px;

}

section div.animation-controls table td.button {

	width: 90px;

}

section div.animation-controls table td.button.thin {

	width: 40px;
	text-align: center;

}

section div.animation-controls table td.button span:hover {

	cursor: pointer;
	opacity: 0.8;

}

nav {

	width: var(--nav-width);
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	
}

nav div.icons {

	position: absolute;
	width: var(--icon-width);
	height: 100%;
	top: 0;
	left: 0;
	background-color: #000;

}

nav div.icons ul {

	padding: 0;
	margin: 0;
	padding-top: 10px;

}

nav div.icons ul li {

	font-family: 'Muli', sans-serif;
	width: calc(100% - 8px);
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 2px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	text-indent: 8px;
	color: #fff;

}

nav div.icons ul li.active {
	
	background-color: rgba(252, 227, 189, 0.4) !important;

}

nav div.icons ul li:hover {

	cursor: pointer;
	background-color: rgba(252, 227, 189, 0.2);

}


nav div.icons label:hover {

	cursor: pointer;
	text-decoration: underline;

}

nav div.icons table {

	width: 100%;
	height: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	text-align: center;


}

nav div.icons img {

	display: block;
	margin: auto;
	margin-bottom: 6px;
	max-width: calc(100% - 20px);

}

nav div.select {

	position: absolute;
	width: calc(100% - var(--icon-width) - 1px);
	height: 100%;
	right: 0;
	top: 0;
	overflow-y: auto;
	background-color: #455A64;
	border-right: 1px solid #8a8a8a;

}

nav div.select li.active {

	color: #11c195;

}

nav div.select li {

	width: 100%;
	list-style-type: none;
	padding-top: 8px;
	text-indent: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #fff;
	font-family: 'Muli', sans-serif;

}

nav div.select li:after {

	content: "";
	display: block;
	margin: auto;
	width: calc(100% - 16px);
	padding-top: 9px;
	border-bottom: 1px dashed #fff;

}

nav div.select li:hover {

	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.1);

}

#fps, #ms, #mb {
    padding: 0 !important;
    text-align: right !important;
    background: none !important;
}

#fpsText, #msText, #mbText {
    font-size: 10px !important;
    color: #FFFFFF !important;
}

#fpsGraph, #msGraph, #mbGraph {
    visibility: hidden !important;
}

#stats, #statsx {
	pointer-events: none;
}
